/* button color*/
:root {
  --primary-btn-color: #2680eb;
  --secondary-btn-color: #666666;
}
/* background color */
:root {
  --bg-primary-color: #ebecef;
}

/* text color */
:root {
  --text-primary-color: #1e2633;
  --text-secondary-color: #2680eb;
  --text-non-active-color: #c5ccd5;
}

/* icon color */
:root {
  --icon-primary-color: #7a8188;
  --icon-secondary-color: #ffffff;
  --icon-hover-color: #2680eb;
}
